<div class="animation-area transparent">
    <ul class="box-area">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<div class="glowing">
    <Span style="--i:1;"></Span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>

</div>