<div class="row">
    {{!-- Things --}}
    <div class="col-9">
        <div class="row">
            <div class="col">
                <div id="comp"></div>
            </div>
            <div class="col-2"></div>
            <div class="col">
                <div id="robot"></div>
            </div>
        </div>
      <div class="row">
        <div class="col">
          <div id="chip"></div>
        </div>
        <div class="col-2"></div>
        <div class="col">
          <div id="assembler"></div>
        </div>
      </div>
        <div class="row">
            <div class="col">
                <div id="boards"></div>
            </div>
            <div class="col-2"></div>
            <div class="col">
                <div id="printer"></div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div id="cpus"></div>
            </div>
            <div class="col-2"></div>
            <div class="col">
                <div id="fabricator"></div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
    {{!-- Unlocks --}}
    <div class="col-2">
        <div>
            <div id="unlocky"></div>
        </div>

        <div id="compUp"></div>
        <div id="chipUp"></div>
        <div id="robotUp"></div>

    </div>
</div>