<div class="load-save">
    <form class="d-flex justify-content-end">
        <input id='id' type="text" class="form-control me-2" />
        <button type="button" id="load" class="btn btn-outline-dark me-2">Load</button>
        <button type="button" id="save" class="btn btn-outline-dark">Save</button>
    </form>
</div>