/* Animations file */
*{
	font-family: 'Merriweather', serif;
}
.body {
    background: linear-gradient(to right,#4A1139 , #0B0A1E);
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	/* overflow: hidden; */
    
 }


 .glowing {
	 position: relative;
	 width: 750px;
	 height: 750px;

 }

 .glowing span {
	 z-index: -2;
	 position: absolute;
	 top: calc(80px * var(--i));
	 left: calc(80px * var(--i));
	 bottom: calc(80px * var(--i));
	 right: calc(80px * var(--i));
	 z-index: -2;
 }

 .glowing span:before {
   content: '';
   position: absolute;
   top: 50%;
   left: -8px;
   width: 15px;
   height: 15px;
   background: rgb(151, 112, 187);
   border-radius: 50%;
 }

 .glowing span:nth-child(3n + 1):before {
	 background: rgba(134, 255, 0, 1);
	 box-shadow: 0 0 20px rgba(134, 255, 0, 1),
				0 0 40px rgba(134, 255, 0, 1),
				0 0 60px rgba(134, 255, 0, 1),
				0 0 80px rgba(134, 255, 0, 1),
				0 0 0 8px rgba(134, 255, 0, 1),
 }
 .glowing span:nth-child(3n + 2):before {
	background: rgba(255, 214, 0, 1);
	box-shadow: 0 0 20px rgba(255, 214, 0, 1),
			   0 0 40px rgba(255, 214, 0, 1),
			   0 0 60px rgba(255, 214, 0, 1),
			   0 0 80px rgba(255, 214, 0, 1),
			   0 0 0 8px rgba(255, 214, 0, 1),
}

.glowing span:nth-child(3n + 3):before {
	background: rgba(0, 226,255,1);
	box-shadow: 0 0 20px rgba(0, 226,255,1),
			   0 0 40px rgba(0, 226,255,1),
			   0 0 60px rgba(0, 226,255,1),
			   0 0 80px rgba(0, 226,255,1),
			   0 0 0 8px rgba(0, 226,255,.1),
}
.glowing span:nth-child(3n + 1) {
	animation:  animate 10s alternate infinite;
}
.glowing span:nth-child(3n + 2) {
	animation: animate-reverse 10s alternate infinite;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}

#load,#save  {
    /* font-style: italic;
    font-family: cursive;
    font-weight: bold;*/
    color: white; 
    background: linear-gradient(to right, #322e3a, #68acda); 
}
#load:hover,#save:hover{
	background: linear-gradient(to right, #45b2a3, #4545b2); 
}
.title-img{
	background-image: '/image/circuit.jpg';
	background-color: #45b2a3;
}
.title-img:hover{
    background: linear-gradient(to right, #45b2a3, #4545b2); 
}
#stack-img{
    display: flex;
    justify-content: center;
    height: 450px;
}
#btn-doUnlock{
    color: black;
}

.block{
	margin-top: 25px;
	padding: 50px;
	box-shadow:2px 2px 2px #0B0A1E;
	/* background: linear-gradient(to right bottom, #0b0a1e5e,#4a1139e8); */
	/* backdrop-filter: blur(0.5rem); */
	border-radius: 2rem;
	z-index: 2;
	/* border-right: 1px solid rgba(44,13,44,0.5); */
	/* border-top: 1px solid rgba(44,13,44,0.5); */
	/* border:1px solid #401f44; */
}
.glass{
	background: linear-gradient(to right bottom, #0b0a1e5e,#4a1139e8);
	backdrop-filter: blur(0.5rem);
	border-radius: 1rem;
	z-index: 2;
	border-right: 1px solid rgba(44,13,44,0.5); 
	border-top: 1px solid rgba(44,13,44,0.5);
	
}
.upgrade{
    width:25px;
    height:25px;
}

/* 
.click {
    font-style: italic;
    font-family: cursive;
    color: white;
    
} */



.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}

.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
.box-area li:nth-child(7) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(8) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(9) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(10) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(11) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(12) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(13) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(14) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(15) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(16) {
	left: 42%;
	width: 120px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 25s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}
